body {
    overflow-x: hidden;
}

#landing-page {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#081425, #0d1e38);
}
nav {
    background-color: #081425;
}
#name {
    font-size: 4.5rem;
}

a:hover {
    opacity: 0.7;
}
#about {
    background: linear-gradient(#3c4c63, #5b6f8a);
    height: 1200px;
}

#image-modal .modal-dialog {
    max-width: 80vw;
    max-height: 80vh;
}

.wave {
    min-width: max-content;
}
.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 3px;
    background: white;
    animation: wave 1.3s linear infinite;
}
.dot:nth-child(2) {
    animation-delay: -1.1s;
}
.dot:nth-child(3) {
    animation-delay: -0.9s;
}
@keyframes wave {
    0%,
    60%,
    100% {
        transform: initial;
    }

    30% {
        transform: translateY(-15px);
    }
}
.project-container {
    transition: all 0.5s ease;
}
.project-container:nth-child(odd):not(h2) {
    transform: translateX(-100%);
}
.project-container:nth-child(even) {
    transform: translateX(100%);
}

.slide {
    transform: translateX(0) !important;
}

#skills {
    width: 100%;
}
#skills-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.5s all;
    z-index: 2;
}

#skills-logos-wrapper {
    width: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.7s all;
}

.bar {
    width: 0px;
    max-width: 10px;
    transition: all 0.2s ease;
}
.about p {
    transition: all 0.2s ease;
}

.projects-button {
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 2rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 100px;
}

.demo {
    background-color: #5e5df0;
    box-shadow: rgba(44, 101, 187, 0.2) 0 -25px 18px -14px inset, rgba(48, 106, 192, 0.15) 0 1px 2px,
        rgba(48, 106, 192, 0.15) 0 2px 4px, rgba(48, 106, 192, 0.15) 0 4px 8px,
        rgba(48, 106, 192, 0.15) 0 8px 16px, rgba(48, 106, 192, 0.15) 0 16px 32px;
    color: white;
}

.source {
    background-color: #c2fbd7;
    box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px,
        rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px,
        rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
    color: green;
}

.source:hover {
    box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px,
        rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px,
        rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
    color: green;
}

.demo:hover {
    box-shadow: rgba(44, 101, 187, 0.35) 0 -25px 18px -14px inset,
        rgba(48, 106, 192, 0.25) 0 1px 2px, rgba(48, 106, 192, 0.25) 0 2px 4px,
        rgba(48, 106, 192, 0.25) 0 4px 8px, rgba(48, 106, 192, 0.25) 0 8px 16px,
        rgba(48, 106, 192, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
    color: white;
}
