body {
    overflow-x: hidden;
}

#landing-page {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#081425, #0d1e38);
}
nav {
    background-color: #081425;
}
#name {
    font-size: 4.5rem;
}

a:hover {
    opacity: 0.7;
}
#about {
    background: linear-gradient(#3c4c63, #5b6f8a);
    height: 1200px;
}

#image-modal .modal-dialog {
    max-width: 80vw;
    max-height: 80vh;
}

.wave {
    min-width: max-content;
}
.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 3px;
    background: white;
    animation: wave 1.3s linear infinite;
}
.dot:nth-child(2) {
    animation-delay: -1.1s;
}
.dot:nth-child(3) {
    animation-delay: -0.9s;
}
@keyframes wave {
    0%,
    60%,
    100% {
        transform: initial;
    }

    30% {
        transform: translateY(-15px);
    }
}
.project-container {
    transition: all 0.5s ease;
}
.project-container:nth-child(2) {
    transform: translateX(-100%);
}
.project-container:nth-child(3) {
    transform: translateX(100%);
}
.project-container:nth-child(4) {
    transform: translateX(-100%);
}
.project-container:nth-child(5) {
    transform: translateX(100%);
}

.slide {
    transform: translateX(0) !important;
}

#skills {
    width: 100%;
}
#skills-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    /* padding: 25px 0; */
    overflow: hidden;
    transition: 0.5s all;
    z-index: 2;
}

#skills-logos-wrapper {
    width: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    /* padding: 25px 0; */
    overflow: hidden;
    transition: 0.7s all;
    transition-delay: 1s;
}
/* @media (prefers-reduced-motion: reduce) {
    .fade {
        transition: none;
    }
} */
